<div class="container">
    <table class="" border="1">
        <thead>
            <th>Department Id</th>
            <th>Department Name</th>
            <th>Location</th>
        </thead>
        <tbody *ngFor="let department of departments">
            <tr>
                <td>{{department.id}}</td>
                <td>{{department.name}}</td>
                <td>{{department.location}}</td>
            </tr>
        </tbody>
        
    </table>
    <br>
    <br>
    <form action="" id="dept" [formGroup]="detail" (ngSubmit)="onAddDepartment()">
        <fieldset>
            <label for="did">Department ID:</label>
            <input type="text" name="did" formControlName="id"><br>
            
            <label for="dname">Department Name:</label>
            <input type="text" name="dname" formControlName="name"><br>
            
            <label for="location">Department Location</label>
            <input type="text" name="location" formControlName="location"><br>

            <button type="submit">Add Department</button>
        </fieldset>
    </form>
    
</div>
