<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <h2 class="text-center">{{note.text}}</h2>
                </div>
                <input type="text" [(ngModel)]="note.text" class="form-control">
                <button class="btn btn-danger btn-block" (click)="OnDeleteNote()">Delete</button>
                <button class="btn btn-warning btn-block" (click)="OnEditNote()">Edit</button>
            </div>
        </div>
    </div>
    
</div>