<p class="display-4 text-center">Observable Demo</p>
<!-- <button class="btn btn-success" (click)="OnSubscribe()">Subscribe</button>
<button class="btn btn-warning" (click)="OnUnSubscribe()">UnSubscribe</button>
<button class="btn btn-primary" #btnObservable>Generate Observable</button>
<button class="btn btn-outline-success" (click)="displayData()">Custom Observable</button>
<input type="text" class="form-control" #txtinput> -->

<!-- <button class="btn btn-outline-primary" #takeuntil>Take Until</button> -->

<input type="text" #search>
<hr>

<ul>
    <li *ngFor="let repo of repoNames">
        {{repo}}
    </li>
</ul>