<div class="container">
    <app-header></app-header>
    <h2 class="text-center">My Awesome App</h2>
    <!-- <input type="text" value={{title}}> OR -->
    <!-- <input type="text" [(ngModel)]="title"> -->
    <h4 class="text-center">{{ title }}</h4>
    <br>
    <!-- <app-new-employee></app-new-employee> -->
    <router-outlet></router-outlet>
    <!-- <app-change-detection-parent></app-change-detection-parent> -->
  
    <!-- <button class="btn btn-dark" (click)="showComp = !showComp">Toggle Comp</button>
  
  
    <app-life-cycle-demo *ngIf="showComp" [title]="title"></app-life-cycle-demo> -->
    <!-- <app-pipe-demo></app-pipe-demo> -->
    <!-- <app-login></app-login> -->
    <!-- <app-register></app-register> -->
  
    <!-- <app-users></app-users> -->

    <!-- <app-counter></app-counter> -->
    <!-- <app-observable-demo></app-observable-demo> -->

    
    <!-- <app-directive-demo></app-directive-demo> -->
  </div>